@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== GLOBAL SPACE THEME ===== */

body {
  margin: 0;
  padding: 0;
  color: rgb(181, 201, 215);
  background: radial-gradient(ellipse at bottom, #080b12 0%, #070a11 60%, #000000 100%);
  overflow-x: hidden;
}

/* ===== STAR LAYER ===== */

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-image:
    radial-gradient(2px 2px at 20px 30px, white, transparent),
    radial-gradient(2px 2px at 200px 150px, white, transparent),
    radial-gradient(1.5px 1.5px at 400px 250px, white, transparent),
    radial-gradient(2px 2px at 600px 100px, white, transparent),
    radial-gradient(1.5px 1.5px at 800px 300px, white, transparent),
    radial-gradient(2px 2px at 150px 400px, white, transparent),
    radial-gradient(1.5px 1.5px at 350px 500px, white, transparent),
    radial-gradient(2px 2px at 700px 600px, white, transparent),
    radial-gradient(1.5px 1.5px at 900px 700px, white, transparent),
    radial-gradient(2px 2px at 1100px 200px, white, transparent),
    radial-gradient(1px 1px at 100px 100px, white, transparent),
    radial-gradient(2px 2px at 300px 350px, white, transparent),
    radial-gradient(1.5px 1.5px at 500px 150px, white, transparent),
    radial-gradient(2px 2px at 750px 450px, white, transparent),
    radial-gradient(1px 1px at 950px 250px, white, transparent),
    radial-gradient(2px 2px at 1200px 500px, white, transparent),
    radial-gradient(1.5px 1.5px at 1350px 300px, white, transparent),
    radial-gradient(2px 2px at 1600px 600px, white, transparent);
  background-repeat: repeat;
  background-size: 350px 350px;
  animation: moveStars 60s linear infinite;
  z-index: -1;
  opacity: 0.8;
}

/* ===== STAR ANIMATION ===== */

@keyframes moveStars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1000px);
  }
}

/* ===== GLASS EFFECT ===== */

.glass {
  background: rgba(19, 26, 41, 0.75);
  backdrop-filter: blur(12px);
  border: 0.01px solid rgba(19, 29, 44, 0.4);
 
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: rgb(181, 201, 215);
  padding: 15px;
}
/* Center wrapper */
.event-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

/* Main Card */
.event-card {
  position: relative;
  width: 800px;         /* smaller width */
  height: 500px;        /* smaller height */
  border-radius: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border: 1px solid rgba(19, 26, 41, 0.75);
  cursor: pointer;
  transition: all 0.3s ease;
  justify-content: center;
  opacity: 0;
  transform: translateY(40px);
  animation: cardReveal 0.9s ease-out forwards;
}

@keyframes cardReveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Hover effect */
.event-card:hover {
  border-color: #091b30;
  box-shadow: 0 0 34px #0e2035;
  transform: scale(1.06);
}

/* Dark overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

/* Content */
.event-content {
  position: relative;
  z-index: 2;
  padding: 25px;
  text-align: center;
  color:rgb(181, 201, 215);
}

/* Text styling */
.event-number {
  color: #f87171;
  letter-spacing: 2px;
  font-size: 24px;
  margin-bottom: 10px;
}

.event-title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-description {
  font-size: 22px;
  color:rgb(181, 201, 215);
  margin-bottom: 20px;
  margin-top: 45px;
}

/* Button */
.event-button {
  margin-top: 50px;
  background-color: #031425;
  color:rgb(181, 201, 215);
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.event-button:hover {
  background-color: #03070a;
  transform: scale(1.05);
  box-shadow: 0 0 20px #0d1e31;
}
/* ===== NAVBAR MAIN ===== */
.navbar {
  height: 80px;
  width: 100%;
  position: fixed;        /* stays at top */
  top: 0;
  left: 0;
  z-index: 1000;
  /* Glass effect */
  background: rgba(12, 17, 29, 0.75);
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  /* Neon border */
  box-shadow: 0 0 25px #0a1725;
}

/* ===== INNER CONTAINER ===== */
.navbar-container {
  display: flex;
  align-items: center;
  padding: 0; 
  justify-content: space-between;
  width: 99%; /* same as px-12 */
}
.logo {
  display: flex;
  align-items: center;
  gap: 9px; 
  font-size: 25px;  /* space between image and text */
}
/* ===== LOGO ===== */
.logo img {
  height: 30px;   /* adjust size */
  width: auto;
  cursor: pointer;
  border-radius: 100px;
  margin-left: 20px;
}

/* ===== LINKS ===== */
.nav-links {
  margin-left: auto;    /* pushes links to right */
  display: flex;
  gap: 30px;           /* same as gap-32 */
  font-size: 18px;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: rgb(181, 201, 215);
  transition: 0.3s ease;
  padding: 5px 10px;;
}

/* Hover Effects */
.nav-links a:hover {
  color: #122233;
  box-shadow: 0 0 3px #152639,
              0 0 2px #152639;
  border-radius: 4px;
}
.logo {
  height: 50px;
  width: auto;
}
@media (max-width: 640px) {
  .navbar {
    height: auto; /* allow height to grow */
    padding: 10px 20px;
    
  }

  .navbar-container {
    flex-direction: row; /* stack vertically */
    align-items:center;
    justify-content: space-between;
    width: 100%;
    

  }
  .logo img {
  height: 20px;   /* adjust size */
  width: auto;
  cursor: pointer;
  border-radius: 100px;
  margin-left: 20px;
}
  .logo {
    font-size: 16px; /* smaller logo */
    padding: 0;
    margin-left: -20px;
    margin-right: 60px;
  }

  .nav-links {
    flex-direction: row; /* vertical links */
    width: 100%;
    gap: 5px;
  

  }

  .nav-links a {
    font-size: 11px;
    padding: 6px 10px;
    margin-left: -10px;
  }
}
@media (max-width: 640px) {
  .event-card {
    width: 90%; /* nearly full width */
    height: auto; /* height adapts */
    margin-bottom: -40px;
  }

  .event-title {
    font-size: 28px;
  }

  .event-description {
    font-size: 18px;
    margin-top: 25px;
  }

  .event-number {
    font-size: 20px;
  }

  .event-button {
    font-size: 20px;
    padding: 6px 14px;
    margin-top: 30px;
  }

  .event-content {
    padding: 15px;
  }
}

/*= EVENT DETAILS WRAPPER ===== */
.details-wrapper {
  min-height: 100vh;          /* full screen height */
  display: flex;
  justify-content: center;    /* horizontal center */
  align-items: flex-start;        /* vertical center */
  padding: 40px; 
  padding-top: 50px;  /* top space for navbar */
}
/* ===== DETAILS CARD ===== */
.details-card {
  position: relative;
  width: 700px;
  height: auto;
  padding: 50px;
  border-radius: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(19, 26, 41, 0.75);
  box-shadow: 0 0 34px #0e2035;
  color: rgb(181, 201, 215);
  transition: 0.3s ease;
  cursor: pointer;
  flex: auto;
}
.details-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
}
.details-content {
  position: relative;
  z-index: 2;
  color: rgb(181, 201, 215);
  
}
.details-card:hover {
  transform: scale(1.02);
}

/* ===== TITLE ===== */
.details-title {
  font-size: 45px;
  margin-bottom: 25px;
  font-weight: bold;
  margin-left: -30px;
}
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .top-section {
    flex-direction: column; /* stack vertically */
    align-items: flex-start; /* align title and button to left */
    gap: 5px; /* spacing between title and button */
  }

  .details-title {
    font-size: 28px; /* smaller font for mobile */
    margin-bottom: 15px;
  }

  .register-button {
    font-size: 10px;
    padding: 8px 14px;
    margin-left: -35px;
  }
}
.info-box {
  flex: 1;
  margin-top: 30px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(253, 253, 253, 0.034);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.103);
  min-width: 100px;
}
@media (max-width: 640px) {
  .info-row {
    flex-direction: column; /* stack the boxes */
    gap: 20px; /* spacing between stacked boxes */
    margin-right: 0px;
    margin-left: 0px;
  }

  .info-box {
    /* take full width */
    padding: 9px; /* slightly smaller padding */
    margin-left: -35px;
    margin-right: -40px;
  }
}
.info-row {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
  
}
.info-box ul {
  padding-left: 20px; 
  font-size: 40px;
  /* proper bullet spacing */
}

.info-box li {
  margin-bottom: 10px;  /* space between each point */
  line-height: 1.6;
  font-size: 18px; 
      /* better readability */
}
.flow-item {
  margin-bottom: 15px;
}

.flow-item p {
  line-height: 1.6; 
  font-size: 17px;
  margin-top: 10px;     /* better readability */
}
.bottom-row {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
}

.bottom-box {
  flex: 0.8;
  padding: 12px;
  border-radius: 12px;
  background: rgba(253, 253, 253, 0.021);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.041);
  text-align: center;
}
@media (max-width: 640px) {
  .bottom-row {
    flex-direction: column; /* stack boxes */
    gap: 15px; /* spacing between boxes */
  }

  .bottom-box {
    width: 100%; /* full width */
    padding: 10px; /* slightly smaller padding */
    margin-left: -10px;
  }
}
.register-button {
  background: #041425;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  color: rgb(181, 201, 215);
  cursor: pointer;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  margin-top: 20px;
}
/* ===== DESCRIPTION ===== */
.details-description {
  font-size: 22px;
  margin-bottom: 35px;
}

/* ===== INFO SECTION ===== */
.details-info p {
  font-size: 20px;
  margin: 10px 0;
}

/* ===== GUIDELINES ===== */
.details-guidelines {
  margin-top: 30px;
  padding-left: 25px;
  font-size: 19px;
}

.details-guidelines li {
  margin-bottom: 10px;
}

/* ===== BUTTON ===== */
.details-button {
  margin-top: 50px;
  background-color: #041425;
  color: rgb(181, 201, 215);
  padding: 12px 30px;
  border-radius: 8px;
  border: none;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.register-button:hover {
  background-color: #03070a;
  transform: scale(1.05);
  box-shadow: 0 0 20px #0d1e31;
  
}
.back-button {
  margin: 120px 0 0 30px;
  padding: 8px 18px;
  background:  #041425;
  border: none;
  border-radius: 8px;
  color: rgb(181, 201, 215);
  cursor: pointer;
  font-size: 20px;
}
.back-button:hover{
  background-color: #03070a;
  transform: scale(1.05);
  box-shadow: 0 0 20px #0d1e31;
}
.home-container {
  position: relative;
  width: 100%;
  height: 100vh;

  background-size: cover;       /* Makes image fill full screen */
  background-position: center;  /* Keeps image centered */
  background-repeat: no-repeat; /* Prevent repeat */
  background-attachment: fixed; /* Makes it look premium */

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  opacity: 0;                 /* Start invisible */
  animation: fadeIn 8s ease-in forwards; /* Slow appear */
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Bottom Right Text */
.event-date {
  position: absolute;
  bottom: 30px;
  right: -20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(181, 201, 215);
  white-space: nowrap;           /* keeps text in one line */
  border-right: 2px solid rgb(181, 201, 215); /* cursor effect */
  width: 0;                      /* start hidden */
  animation: typing 12s steps(30, end) forwards,
             blink 1s infinite;

  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
@media (max-width: 640px) {
  .home-container {
    min-height: 100vh;
    width:100%;  /* reduce height for small screens */
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll; /* avoids mobile parallax glitches */
  }
  .event-date {
    font-size: 20px;
    bottom: 60px;
    text-align:center;
    overflow: hidden;              /* hides extra text */
  white-space: nowrap;           /* keeps text in one line */
  border-right: 2px solid rgb(181, 201, 215); /* cursor effect */
  width: 0;                      /* start hidden */
  animation: typing 5s steps(30, end) forwards,
             blink 1s infinite;
  }
}
/* Typing animation */
@keyframes typing {
  from { width: 100%; }
  to { width: 100%; }
}

/* Cursor blink */
@keyframes blink {
  50% { border-color: transparent; }
}
.contact-wrapper {
  padding: 120px 20px 60px;
  text-align: center;
  color: rgb(181, 201, 215);
}
.contact-title {
  font-size: 35px;
  color: rgb(181, 201, 215);
  margin-bottom: 10px;
}
.contact-card:nth-child(1) {
  animation-delay: 0.2s;
}

.contact-card:nth-child(2) {
  animation-delay: 0.4s;
}

.contact-card:nth-child(3) {
  animation-delay: 0.6s;
}
.contact-subtitle {
  color: rgb(181, 201, 215);
  margin-bottom: 50px;
  font-size: 18px;
}
.contact-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.contact-card {
  width: 450px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(19, 26, 41, 0.75);
  box-shadow: 0 0 20px rgba(19, 26, 41, 0.75);
}
.contact-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(19, 26, 41, 0.75);
}
.card-heading {
  color: rgb(181, 201, 215);
  margin-bottom: 20px;
}

.card-text {
  margin-bottom: 20px;
  color: rgb(181, 201, 215);
}

.card-info {
  margin-top: 20px;
}
.contact-section {
  margin-bottom: 20px;
}

.contact-section h4 {
  color: rgb(181, 201, 215);
  margin-bottom: 8px;
}
